<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Project100Pi.themusicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <user-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayAlbArt"
            android:label="@string/title_activity_display_alb_art" >
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play"
            android:theme="@style/AppBaseTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NowPlayingListActivity"
            android:label="@string/title_activity_now_playing_list"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity android:name=".PlaylistSelection" >
        </activity>
        <activity android:name=".PlaylistSelectionMultiple" >
        </activity>
        <activity android:name=".EqualizerSettings" >
        </activity>
        <activity android:name=".SearchResultsActivity">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SongsUnder"
            android:label="@string/title_activity_songs_under">
        </activity>
        <activity
            android:name=".PlaylistUnder"
            android:label="@string/title_activity_playlist_under" >
        </activity>
        <activity
            android:name=".SongsUnderTest"
            android:label="@string/title_activity_songs_under_test"
            android:theme="@style/AppBaseTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NowPlayingListTest"
            android:label="Now Playing"
             >
        </activity>
        <activity
            android:name=".PlayListSelectionTest"
            android:label="Select PlayList"
             >
        </activity>

        <activity
            android:name=".RingdroidEditActivity"
            android:label="Edit Activity"
             >
        </activity>
        <activity
            android:name=".SearchResultTestActivity"
            android:label="@string/title_activity_search_result_test" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <service
            android:name="com.Project100Pi.themusicplayer.LockScreenNotification"
            android:exported="true"
            android:enabled="true"/>

        <receiver android:name="com.Project100Pi.themusicplayer.NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.tutorialsface.audioplayer.delete" />
                <action android:name="com.tutorialsface.audioplayer.pause" />
                <action android:name="com.tutorialsface.audioplayer.next" />
                <action android:name="com.tutorialsface.audioplayer.play" />
                <action android:name="com.tutorialsface.audioplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
